body {
    margin: 0;
    padding: 0;
}

#header {
    position: sticky;
    top: 0;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
}

iframe {
    width: 60vw;
    height: 100vh;
}