body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f8f8f8;
}

#header,
footer {
    padding: 2rem 3rem;
    background-color: #F6FEFB;
    color: #08261B;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
}

#header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 4rem;

    padding: 40px 24px 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

#titles {}

footer {
    bottom: 0;
    padding: 1rem 3rem;
    width: 100vw;
}

iframe {
    width: 100%;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    line-height: 3rem;
}

#header h1 {
    align-self: stretch;
    color: var(--corporate-design-shades-grau-90, #3B3B3A);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 100% */
}

h2 {
    font-size: 1.25rem;
    font-weight: 400;
    color: #333;
}

#header h2 {
    align-self: stretch;
    color: var(--corporate-design-shades-grau-80, #565656);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

h3 {
    line-height: 2rem;
}

h4 {
    line-height: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

select {
    appearance: none;
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;

    border: 1px solid #565656;
    outline: 0;

    background-color: #f8f8f8;
    color: #333;
    cursor: pointer;

    /* background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 6px),
        calc(100% - 15px) calc(1em + 6px),
        calc(100% - 2.5em) 0.8em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat; */

    background-image: url('img/chevron-down.svg');
    background-position: 97% center;
    background-repeat: no-repeat;
    background-size: contain;
}

select option {
    flex: 1 0 0;
    color: #565656;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}



#content {
    max-width: 72ch;
    padding: 3.125rem 3rem;
    color: #222;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2rem;
    text-wrap: balance;
}

#content p {
    padding-top: 0.1rem;
    padding-bottom: 0.25rem;
}

#content a {
    text-decoration: none;
    font-weight: 700;
    color: #333;
}

#content a:after {
    padding-left: 0.3rem;
    content: url('img/external-link.svg');
}

#content a.mail:after {
    content: url(img/mail.svg);
}


/* Experiments with baseline grid */

#div#baseline-grid {
    position: fixed;
    top: 0;

    z-index: 9000;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #f00 0, transparent 1px);
    background-repeat: repeat-y;
    background-size: 100% 0.5rem;
}