body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  /* background-color: #f1f1f1; */
  background: hsl(215, 92%, 99%);
  color: hsl(215, 92%, 36%);
}

#header,
footer {
  background-color: #fff;
  /* color: #08261b; */
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
}

#header {
  position: sticky;
  top: 0;
}

#header-wrap {
  max-width: 120rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  padding: 2rem 4.5rem;
  align-items: flex-end;
  gap: 1rem;
}

#space {
  padding: 0 4.5rem;
  max-width: 80rem;
  height: 100vh;
}

/* Small only */
@media screen and (max-width: 960px) {
  #header-wrap {
    padding: 35px 24px 16px 24px;
  }
  
  select {
    width: 100%;
  }

  #space {
    padding: 0;
  }

  #content {
  }
}

/* Medium only */
@media screen and (min-width: 576px) and (max-width: 1024px) {
  #header {

  }
  
}

/* Medium and up */
@media screen and (min-width: 40em) {
}

#titles {
}

footer {
  bottom: 0;
  padding: 1rem 3rem;
  width: 100vw;
}

iframe {
  width: 100%;
  height: calc(100% + 400px);
  overflow: hidden;
  border: none;
}


h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}

#header h1 {
  align-self: stretch;
  /* color: #3b3b3a; */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 100% */
}

h2 {
  font-size: 1.25rem;
  font-weight: 400;
  /* color: #333; */
}

#header h2 {
  align-self: stretch;
  color: var(--corporate-design-shades-grau-80, #565656);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

h3 {
  /* color: #3b3b3a; */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
}

h4 {
  /* color: #3b3b3a; */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
}

#content {
  text-wrap: balance;
  max-width: 72ch;
  padding-top: 3rem;
  padding: 2rem 1.5rem;

}

#content p {
  color:  #565656;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#content a {
  text-decoration: none;
  font-weight: 700;
  /* color: #333; */
  color: hsl(215, 96%, 32%);
  white-space: nowrap;
}

#content a.external:after {
  padding-left: 0.3rem;
  content: url("img/external-link.svg");
}

#content a.mail:after {
  padding-left: 0.3rem;
  content: url(img/mail.svg);
}

#content ul{
  margin: 32px 0;
}

/* Experiments with baseline grid */

#div#baseline-grid {
  position: fixed;
  top: 0;

  z-index: 9000;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #f00 0, transparent 1px);
  background-repeat: repeat-y;
  background-size: 100% 0.5rem;
}
