html {
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

  #card {
 width: 80vw;
    background-color: #ffffff;
    padding: 3rem;
    margin: 3rem atuo;
    border: 10px solid #ebebeb;
  }

h1{
  front-size: 2 rem;
  text-align: center;
  margin: 0;
  color: #b51a00;
}

h2{
  font-size: 1 rem;
  text-align: center;
  margin-top: 0.4rem;
  font-weight: 400;
  
}

h2 a{
  color: #0433ff;
  text-decoration: none;
  font-weight: 700;
   
}

#map-container{
  height: 240px;
  background-color: #ffb5af;
}
.kontakt{
  margin-top: 1rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  float: left;
}

.kontakt img{
  vertical-align: middle;
}

.kontakt a {
  text-decoration: none;
  color: #000000;
  margin-left: 0.5rem;
}